@model Album;
@{
    ViewData["Title"] = "AddAlbum";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Add Album</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome </h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="AlbumName">Album Name</label>
                                <input type="text" class="form-control" asp-for="AlbumName" placeholder="Enter Event name" required>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlbumType">Album Type</label>
                                <input type="text" class="form-control" asp-for="AlbumType" placeholder="EventPlace" required>
                                <span asp-validation-for="AlbumType" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="PhotoPat">Event Date</label>
                                <input type="file" class="form-control" asp-for="PhotoPat" required>
                                <span asp-validation-for="PhotoPat" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
